---
layout: default
---
<style>
  .search-title {
    margin-top: 10px;
  }

  .teaserText {
    color: gray;
  }
</style>
<div class="form-horizontal">
  <input id="txtSearch" type="text" class="form-control" placeholder="Search for..." autocomplete="off"
    data-bind="value: searchTerm, valueUpdate: 'afterkeydown'">
  <p data-bind="text : searchResultText" style="margin-left:10px"></p>
  <hr />
</div>

<div id="search-results" data-bind="foreach: searchResult">
  <h4 class="search-title">
    <a class="post-link" data-bind="text : title, attr: { href: relativeUrl, title: title }"></a>
  </h4>
  <p class="teaserText" data-bind="text : teaser"></p>
  <hr />
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
<script>
  (function () {

    $.getJSON('{{site.baseurl}}/assets/index.json', function (result) {
      ko.applyBindings(new ViewModel(result));
      $("#txtSearch").focus();
    });

    var ViewModel = function (posts) {
      var self = this;
      this.posts = posts;


      this.searchTerm = ko.observable(window.location.search.substring(1));
      this.searchResultText = ko.observable("");
      this.searchResult = ko.observableArray([]);
      this.filteredpPosts = ko.computed(function () {
        var term = this.searchTerm().toLowerCase();
        if (term.length < 3) {
          return;
        }

        var result = self.posts.filter(function (post) {
          
          var foundInTitle = (post.title && post.title.toLowerCase().indexOf(term)) > 0;
          if (foundInTitle) {
            post.teaser = post.content.substring(0, 290) + "...";
            return true;
          }
          var pos = post.content.toLowerCase().indexOf(term);
          if (pos > 0) {
            post.teaser = post.content.substring(0, 290) + "...";
            return true;
          }
          else {
            return false;
          }
        });
        self.searchResultText(`Search gave ${result.length} matches for "${term}"`)
        self.searchResult(result);
      }, this);
    }

    //$("#txtSearch").val(window.location.search.substring(1));
  }());

</script>